.login-bg {
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop));
}
#black-panel {
  _height: 9999px;
  _position: absolute;
  filter: alpha(opacity=80);
}
.reset-password-panel {
  _position:absolute;
  _top:expression(150+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
}

.layout-bg {
  _position:absolute;
  _bottom: auto;
  _top:expression(eval(document.documentElement.scrollTop));
}
#content {
  _height: expression(this.height < 768 ? 768: true);
}
#global-popup {
  _height: 9999px;
  _position: absolute;
}
#global-popup .bg {
  filter: alpha(opacity=80);
}
#global-popup .panel {
  _position:absolute;
  _top:expression(200+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
}
#global-confirm {
  _height: 9999px;
  _position: absolute;
}
#global-confirm .bg {
  filter: alpha(opacity=80);
}
#global-confirm .panel {
  _position:absolute;
  _top:expression(200+((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+'px');
}
.setting-panel .tip-box .arrow-wrapper {
  _border: 7px solid transparent;
  _border-color: pink;
  _filter: chroma(color=pink);
  _border-right: 7px solid #F1F1F1;
}
.setting-panel .tip-box .arrow {
  _border: 6px solid transparent;
  _border-color: pink;
  _filter: chroma(color=pink);
  _border-right: 6px solid #FFF;
}
.setting-panel .tip-box-invalid .arrow-wrapper {
  _border-right: 7px solid #F0495B;
}
.setting-panel .tip-box-invalid .arrow {
  _border-right: 7px solid #F0495B;
}
.setting-panel .tip-box-valid .arrow-wrapper {
  _border-right: 7px solid #1BBC9D;
}
.setting-panel .tip-box-valid .arrow {
  _border-right: 7px solid #FFF;
}
.setting-panel .tip-box-top .arrow-wrapper {
  _border: 7px solid transparent;
  _border-color: pink;
  _filter: chroma(color=pink);
  _border-bottom: 7px solid #F1F1F1;
}
.setting-panel .tip-box-top .arrow {
  _border: 6px solid transparent;
  _border-color: pink;
  _filter: chroma(color=pink);
  _border-bottom: 6px solid #FFF;
}
.setting-panel .tip-box-top-invalid .arrow-wrapper {
  _border-bottom: 7px solid #F0495B;
}
.setting-panel .tip-box-top-invalid .arrow {
  _border-bottom: 7px solid #F0495B;
}
.setting-panel .tip-box-top-valid .arrow-wrapper {
  _border-bottom: 7px solid #1BBC9D;
}
.setting-panel .tip-box-top-valid .arrow {
  _border-bottom: 7px solid #FFF;
}

.number-box .arrow-left-wrapper {
  _border: 7px solid transparent;
  _border-color: pink;
  _filter: chroma(color=pink);
  _border-right: 7px solid #F2F2F2;
}
.number-box .arrow-left {
  _border: 6px solid transparent;
  _border-color: pink;
  _filter: chroma(color=pink);
  _border-right: 6px solid #F8F8F8;
}

.panel-tip-error{
    background: #ffdbdb;
    color: #c07373;
    border:1px solid #ecbcbc;
}